<div class="menu">
  <div class="menu-buttons" >
    <div class="menu">
      <button (click)="getAllDishes()">Menu</button>
    </div>
    <div class="pizza" *ngIf="!accessService.isLogged">
      <button (click)="getPizza()">Pizza</button>
    </div>
    <div class="pasta" *ngIf="!accessService.isLogged">
      <button (click)="getPasta()">Makarony</button>
    </div>
    <div class="drink" *ngIf="!accessService.isLogged">
      <button (click)="getDrink()">Napoje</button>
    </div>
    <div *ngIf="!accessService.isLogged">
      <button routerLink="/summary">Zamowienie</button>
    </div>
    <div *ngIf="accessService.isLogged">
      <button routerLink="/orders" >Orders list</button>
    </div>
  </div>

  <div class="dishes" *ngIf="dishes$ | async as dishes">
    <app-dishes-list-item class="dish" *ngFor="let dish of dishes" [dish]="dish"></app-dishes-list-item>
  </div>


</div>
