<div class="menu">
  <div class="menu-buttons">
    <div class="menu">
      <button (click)="ngOnInit()">Menu</button>
    </div>
    <div class="pizza">
      <button (click)="getPizza()">Pizza</button>
    </div>
    <div class="pasta">
      <button (click)="getPasta()">Makarony</button>
    </div>
    <div class="drink">
      <button (click)="getDrink()">Napoje</button>
    </div>
    <div>
      <button routerLink="/summary">Zamowienie</button>
    </div>
  </div>
  <div class="dishes">
    <app-dishes-list-item class="dish" *ngFor="let dish of dishes" [dish]="dish"></app-dishes-list-item>
  </div>
  <div class="koszyk">
    <app-shopping-card></app-shopping-card>
  </div>

</div>
