
.menu-buttons{
  display: flex;
  margin-bottom: 25px;
  div{
    flex-grow: 1;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border: 2px solid;
    flex-flow: column;

    button{
      background-color:#1880db;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:2px solid #2136a3;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Trebuchet MS;
      font-size:21px;
      font-weight:bold;
      padding:10px 17px;
      text-decoration:none;

    }

  }

}



.dishes{
  display: grid;
  justify-content: center;



}

.dish {
  display: flex;
  justify-content: space-between;
 /* background-color: black;*/
  border-color: black;

}

.myButton:hover {
  background-color:#3434f7;
}
.myButton:active {
  position:relative;
  top:1px;
}
