.menu{
  font-weight:bold;
  justify-content: space-around;
  display: flex;
  background-color: #4CAF50;
  opacity: 0.85;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  margin-bottom: 20px;
}
.button-more{


  background-color:#1880db;

  border-radius:28px;
  border:2px solid #2136a3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:21px;
  font-weight:bold;
  padding:6px 10px;
  text-decoration:none;

}
