h1{
  display: flex;
  justify-content: center;
}

.basket {
  margin: 0 auto;
  height: 400px;
  display: table;
  justify-content: right;
  background-color: orange;
  width: 40%;
  border: solid 2px;
}

.basket-item {
  display: flex;
  justify-content: space-between;
}

.price{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.button-delete {
  display: flex;
  align-items: center;
}
