
.main-menu {
  display: flex;

}

.nav-bar {
  display: flex;
  order: 2;
  flex: 1;
  a {
    flex-grow: 1;

    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border: 2px solid;
  }

}

.app-content {

  flex: 2;
  order: 1;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  text-align: center;
  border: 2px solid;
  font-family: Marker Felt, fantasy;
  letter-spacing: 3px;

}


