.form-address-main{
  display: flex;
  justify-content: center;
}


.address-form{
  text-align: center;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #4CAF50;
  align-items: center;
}

.address-title{
  flex: 1;
  justify-content: center;
}

.address-form-iputs{
  flex: 3;
  width: 100%;
  margin-right: auto;
  justify-content: center;
}

.shoppingCard{
  width: 60%;
  background-color: #4CAF50;


}
