<div  class="form-address-main">
  <div class="address-title">
    <h2>Adres dostawy</h2>
  </div>

<form [formGroup]="addressForm" id="address-form">
  <label>First Name:
    <input type="text" formControlName="firstName">
  </label>
  <label>Last name:
    <input type="text" formControlName="lastName">
  </label>
  <label>Telephone:
    <input type="tel" formControlName="telephone">
  </label>
  <label>Email:
    <input type="email" formControlName="email">
  </label>
  <label>City:
    <input type="text" formControlName="city">
  </label>
  <label>Street: <br>
    <input type="text" formControlName="street">
  </label>
</form>
  <div id="buttonOrderDiv">
<button id="order" type="submit" (click)="createOrder()">Zloz zamowienie</button>
</div>
  
</div>

<div id="shoppingCard">
  <app-shopping-card></app-shopping-card>
</div>
