.menu{
  background-color: #ccd6d0;
  opacity: 0.85;
  width: 750px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  display: flex;


}


.item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}



.add-to-basket{
  background-color:#1880db;

  border-radius:28px;
  border:2px solid #2136a3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:21px;
  font-weight:bold;
  padding:6px 10px;
  text-decoration:none;
}
.button-preview{
  background-color: #db9647;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:2px solid #2136a3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:21px;
  font-weight:bold;
  padding:10px 17px;
  text-decoration:none;
}

.add-to-basket:hover {
  background-color:#3434f7;
}
.add-to-basket:active {
  position:relative;
  top:1px;
}
