.item {
  display: flex;
  justify-content: space-between;
}

.price{
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.button-add {
  display: flex;
  align-items: center;
}

.description {
  margin-right: 50px;
}
