<div class="menu">
  <div class="item" *ngIf="accessService.isLogged || dish.isAvailable===true">
    <div class="description">
      <h3>{{dish.name}}</h3>
      <p>{{dish.description}}</p>
    </div>
    <div class="price">
      <p>Cena: {{dish.price}}</p>
    </div>
    <div class="button-add">
      <button class="add-to-basket" (click)="addFoodToCard()">Dodaj do koszyka</button>
    </div>
    <div class="button-more">
      <button class="button-preview" [routerLink]="['/dishes', dish.id]" *ngIf="accessService.isLogged">Szczegoly</button>
    </div>
  </div>
</div>
