/* You can add global styles to this file, and also import other style files */


body{
  background-image: url("/src/assets/photo/photopiz-1531664767453-dc714de6b3c4.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;

}

head{
  background-color: black;
}
